.form {
    margin-bottom: 20px;
    text-align: center;
}

.label {
    margin-right: 10px;
    color: #3498db;
}

.select {
    padding: 3px;
    border: 1px solid #3498db;
    border-radius: 5px;
    outline: none;
    color: #555;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(18, 64, 78);
    color: #fff;
    border: none;
}

.button:hover {
    background-color: burlywood;
}